@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  position: relative;
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/* header style */
.header {
  width: 100vw;
  position: relative;
  z-index: 3;
  height: auto;
  padding-bottom: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../images/pattern-bg.png');
  background-position: center;
  background-size: cover;
}
.header__title {
  color: #fff;
  font-weight: 500;
  margin: 1.5rem 0px;
}

/* form section style */
.header__form {
  width: 40%;
}
.input-control {
  display: flex;
  position: relative;
}
.input {
  padding: 18px 24px;
  border-radius: 16px;
  width: 100%;
  font-size: 1.125rem;
  color: hsl(0, 0%, 17%);
  border: 2px solid #fff;
}
.input:focus {
  outline: none !important;
}
.input::placeholder {
  color: hsl(0, 0%, 59%);
}
.submit-button {
  height: 100%;
  padding: 0px 18px;
  border-radius: 0px 16px 16px 0px;
  color: #fff;
  background: black;
  border: 2px solid black;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.submit-button:hover,
.submit-button:focus {
  outline: none !important;
  background: hsl(0, 0%, 17%);
  border-color: hsl(0, 0%, 17%);
}
.submit-button i {
  font-size: 1.85rem;
}

/* main content style */
.main__content {
  padding: 1.5rem 2rem;
  bottom: -25%;
  position: absolute;
  z-index: 100;
  border-radius: 12px;
  background: #fff;
  width: 75%;
  height: 150px;
  display: flex;
  align-self: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.info-item {
  flex: 1 1 0px;
  display: flex;
}
.info-item div:nth-of-type(1) {
  padding-right: 30px;
  display: flex;
  flex-direction: column;
}
.info-item:nth-last-of-type(1) {
  flex: 0.9 0.9 0px;
}
.info-item div:nth-last-of-type(1) {
  padding-right: 0px;
}
.info-item div:nth-of-type(1) h2 {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: hsl(0, 0%, 59%);
}
.info-item div:nth-of-type(1) span {
  font-size: 1.25rem;
  font-weight: 700;
  color: hsl(0, 0%, 17%);
}
.info-item .line {
  margin-left: auto;
  margin-right: 30px;
  width: 0.5px;
  height: 65%;
  background: hsla(0, 0%, 59%, 0.4);
  align-self: center;
}

/* main style */
.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* map style */
#mapid {
  z-index: 1;
  width: 100vw;
  height: 100%;
}

/* footer style */
footer {
  width: 100vw;
  height: auto;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  z-index: 2;
}
.attribution {
  padding: 1rem 0px;
  font-size: 11px;
  text-shadow: rgb(255, 255, 255) 10px 20px 10px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* media query */
@media screen and (min-width: 1800px) {
  .header__form {
    width: 30%;
  }
  .main__content {
    width: 50%;
  }
}

@media screen and (max-width: 1024px) {
  .header__form {
    width: 55%;
  }
  .main__content {
    width: 85%;
  }
}

@media screen and (max-width: 900px) {
  .main__content {
    height: auto;
  }
  .info-item:nth-last-of-type(1) {
    flex: 0.7 0.7 0px;
  }
  .info-item div {
    word-break: break-all;
  }
  .info-item div h2 {
    margin-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  .header__form {
    width: 65%;
  }
}

/* mobile device */
@media screen and (max-width: 600px) {
  .header__form {
    width: 85%;
  }
  .main__content {
    top: 175px;
    bottom: unset;
    flex-direction: column;
  }
  .info-item {
    justify-content: center;
  }
  .info-item .line {
    display: none;
  }
  .info-item div {
    margin: 1rem 0px;
    align-items: center;
    padding-right: 0px !important;
  }
  .info-item:nth-of-type(1) div {
    margin-top: 0px;
  }
  .info-item:nth-last-of-type(1) div {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 425px) {
  .header__title {
    font-size: 1.45rem;
  }
  .main__content {
    top: 160px;
  }
  .header__form,
  .main__content {
    width: 90%;
  }
  .input {
    padding-right: 70px;
  }
  .submit-button {
    padding: 0px 14px;
  }
  .info-item div {
    margin: 0.75rem 0px;
  }
  .info-item div:nth-of-type(1) h2 {
    font-size: 0.7rem;
  }
  .info-item div:nth-of-type(1) span {
    font-size: 1rem;
  }
}
