@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100vw;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../images/pattern-bg.png');
}
.header__title {
  color: #fff;
  font-weight: 500;
  margin: 1.5rem 0px;
}
.header__form {
  width: 40%;
}
.input-control {
  display: flex;
  position: relative;
}

.input {
  padding: 18px 24px;
  border-radius: 16px;
  width: 100%;
  font-size: 1.125rem;
}
.submit-button {
  height: 100%;
  padding: 0px 18px;
  border-radius: 0px 16px 16px 0px;
  color: #fff;
  background-color: hsl(0, 0%, 17%);
  border: none;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}
.submit-button i {
  font-size: 1.85rem;
}
/* - Very Dark Gray: hsl(0, 0%, 17%)
- Dark Gray: hsl(0, 0%, 59%) */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
